<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni0009</key>
    <string>uni0009.glif</string>
    <key>uni000A</key>
    <string>uni000A_.glif</string>
    <key>uni0016</key>
    <string>uni0016.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>uni00B2</key>
    <string>uni00B_2.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>uni00B9</key>
    <string>uni00B_9.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>Ccircumflex</key>
    <string>C_circumflex.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Ebreve</key>
    <string>E_breve.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>Itilde</key>
    <string>I_tilde.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>Ibreve</key>
    <string>I_breve.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>Jcircumflex</key>
    <string>J_circumflex.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>Obreve</key>
    <string>O_breve.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Utilde</key>
    <string>U_tilde.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>Ubreve</key>
    <string>U_breve.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>Wcircumflex</key>
    <string>W_circumflex.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>Ycircumflex</key>
    <string>Y_circumflex.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Alpha</key>
    <string>A_lpha.glif</string>
    <key>Mu</key>
    <string>M_u.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Upsilon</key>
    <string>U_psilon.glif</string>
    <key>Chi</key>
    <string>C_hi.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>uni1FF7</key>
    <string>uni1F_F_7.glif</string>
    <key>uni2010</key>
    <string>uni2010.glif</string>
    <key>uni2011</key>
    <string>uni2011.glif</string>
    <key>figuredash</key>
    <string>figuredash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>uni2015</key>
    <string>uni2015.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotereversed</key>
    <string>quotereversed.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>uni201F</key>
    <string>uni201F_.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>uni2070</key>
    <string>uni2070.glif</string>
    <key>uni2071</key>
    <string>uni2071.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>uni2075</key>
    <string>uni2075.glif</string>
    <key>uni2076</key>
    <string>uni2076.glif</string>
    <key>uni2077</key>
    <string>uni2077.glif</string>
    <key>uni2078</key>
    <string>uni2078.glif</string>
    <key>uni2079</key>
    <string>uni2079.glif</string>
    <key>uni207A</key>
    <string>uni207A_.glif</string>
    <key>uni207B</key>
    <string>uni207B_.glif</string>
    <key>uni207C</key>
    <string>uni207C_.glif</string>
    <key>uni207D</key>
    <string>uni207D_.glif</string>
    <key>uni207E</key>
    <string>uni207E_.glif</string>
    <key>uni2080</key>
    <string>uni2080.glif</string>
    <key>uni2081</key>
    <string>uni2081.glif</string>
    <key>uni2082</key>
    <string>uni2082.glif</string>
    <key>uni2083</key>
    <string>uni2083.glif</string>
    <key>uni2084</key>
    <string>uni2084.glif</string>
    <key>uni2085</key>
    <string>uni2085.glif</string>
    <key>uni2086</key>
    <string>uni2086.glif</string>
    <key>uni2087</key>
    <string>uni2087.glif</string>
    <key>uni2088</key>
    <string>uni2088.glif</string>
    <key>uni2089</key>
    <string>uni2089.glif</string>
    <key>uni208A</key>
    <string>uni208A_.glif</string>
    <key>uni208B</key>
    <string>uni208B_.glif</string>
    <key>uni208C</key>
    <string>uni208C_.glif</string>
    <key>uni208D</key>
    <string>uni208D_.glif</string>
    <key>uni208E</key>
    <string>uni208E_.glif</string>
    <key>uni2150</key>
    <string>uni2150.glif</string>
    <key>uni2151</key>
    <string>uni2151.glif</string>
    <key>uni2152</key>
    <string>uni2152.glif</string>
    <key>onethird</key>
    <string>onethird.glif</string>
    <key>twothirds</key>
    <string>twothirds.glif</string>
    <key>uni2155</key>
    <string>uni2155.glif</string>
    <key>uni2156</key>
    <string>uni2156.glif</string>
    <key>uni2157</key>
    <string>uni2157.glif</string>
    <key>uni2158</key>
    <string>uni2158.glif</string>
    <key>uni2159</key>
    <string>uni2159.glif</string>
    <key>uni215A</key>
    <string>uni215A_.glif</string>
    <key>oneeighth</key>
    <string>oneeighth.glif</string>
    <key>threeeighths</key>
    <string>threeeighths.glif</string>
    <key>fiveeighths</key>
    <string>fiveeighths.glif</string>
    <key>seveneighths</key>
    <string>seveneighths.glif</string>
    <key>uni215F</key>
    <string>uni215F_.glif</string>
    <key>uni2186</key>
    <string>uni2186.glif</string>
    <key>uni2189</key>
    <string>uni2189.glif</string>
    <key>arrowleft</key>
    <string>arrowleft.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowdown</key>
    <string>arrowdown.glif</string>
    <key>uni21AD</key>
    <string>uni21A_D_.glif</string>
    <key>uni21B1</key>
    <string>uni21B_1.glif</string>
    <key>uni21B2</key>
    <string>uni21B_2.glif</string>
    <key>uni21B3</key>
    <string>uni21B_3.glif</string>
    <key>uni21B4</key>
    <string>uni21B_4.glif</string>
    <key>carriagereturn</key>
    <string>carriagereturn.glif</string>
    <key>uni21B6</key>
    <string>uni21B_6.glif</string>
    <key>uni21B7</key>
    <string>uni21B_7.glif</string>
    <key>uni21B8</key>
    <string>uni21B_8.glif</string>
    <key>uni21E6</key>
    <string>uni21E_6.glif</string>
    <key>uni21E8</key>
    <string>uni21E_8.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>gradient</key>
    <string>gradient.glif</string>
    <key>element</key>
    <string>element.glif</string>
    <key>suchthat</key>
    <string>suchthat.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>uni2213</key>
    <string>uni2213.glif</string>
    <key>uni2215</key>
    <string>uni2215.glif</string>
    <key>uni2219</key>
    <string>uni2219.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>intersection</key>
    <string>intersection.glif</string>
    <key>union</key>
    <string>union.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>therefore</key>
    <string>therefore.glif</string>
    <key>uni2235</key>
    <string>uni2235.glif</string>
    <key>uni2236</key>
    <string>uni2236.glif</string>
    <key>similar</key>
    <string>similar.glif</string>
    <key>uniFFF0</key>
    <string>uniF_F_F_0.glif</string>
    <key>uniFFF1</key>
    <string>uniF_F_F_1.glif</string>
    <key>uniFFF2</key>
    <string>uniF_F_F_2.glif</string>
    <key>uniFFF3</key>
    <string>uniF_F_F_3.glif</string>
    <key>uniFFF4</key>
    <string>uniF_F_F_4.glif</string>
    <key>uniFFF5</key>
    <string>uniF_F_F_5.glif</string>
    <key>uniFFF6</key>
    <string>uniF_F_F_6.glif</string>
    <key>uniFFF7</key>
    <string>uniF_F_F_7.glif</string>
    <key>uniFFF8</key>
    <string>uniF_F_F_8.glif</string>
    <key>uniFFFC</key>
    <string>uniF_F_F_C_.glif</string>
    <key>uniFFFD</key>
    <string>uniF_F_F_D_.glif</string>
    <key>p.ss01</key>
    <string>p.ss01.glif</string>
    <key>q.ss01</key>
    <string>q.ss01.glif</string>
    <key>a.ss01</key>
    <string>a.ss01.glif</string>
    <key>y.ss01</key>
    <string>y.ss01.glif</string>
    <key>x.ss01</key>
    <string>x.ss01.glif</string>
    <key>l.ss01</key>
    <string>l.ss01.glif</string>
    <key>markingball</key>
    <string>markingball.glif</string>
    <key>x.sups</key>
    <string>x.sups.glif</string>
    <key>y.sups</key>
    <string>y.sups.glif</string>
    <key>z.sups</key>
    <string>z.sups.glif</string>
    <key>t.sups</key>
    <string>t.sups.glif</string>
    <key>a.sups</key>
    <string>a.sups.glif</string>
    <key>b.sups</key>
    <string>b.sups.glif</string>
    <key>c.sups</key>
    <string>c.sups.glif</string>
    <key>pi.sups</key>
    <string>pi.sups.glif</string>
    <key>x.subs</key>
    <string>x.subs.glif</string>
    <key>y.subs</key>
    <string>y.subs.glif</string>
    <key>z.subs</key>
    <string>z.subs.glif</string>
    <key>t.subs</key>
    <string>t.subs.glif</string>
    <key>a.subs</key>
    <string>a.subs.glif</string>
    <key>b.subs</key>
    <string>b.subs.glif</string>
    <key>c.subs</key>
    <string>c.subs.glif</string>
    <key>pi.subs</key>
    <string>pi.subs.glif</string>
  </dict>
</plist>
